<div class="container">
<h1> News Feed</h1>
<br>
<%= form_tag(feed_entries_path , method: "get", class: "form") do %>
 <%= text_field_tag(:search, params[:search]) %> 
 <%= submit_tag("Search", :name => nil, class: "btn btn-default") %> 
<% end %>

<%if @feed_entries.nil? || @feed_entries.length == 0%>

  <p>No Matches Found</p>

<% else %>

<div class="example" data-text="News">
	<div class="grid">
	<div class="row cells2">
	<div class="cell">
	<div class="listview-outlook" data-role="listview">
  <% @feed_entries.each do |feed_entry| %>
<div class="list" href="#">
	<div class="list-content">
        <%= feed_entry.title %>  
        <div >
            <div>
              <%=raw display_content_with_links(feed_entry.link) %>
            </div>
            <div>
              <%=feed_entry.description %>
            </div>
            <div >
                Published: <%= feed_entry.published_at %> 
            </div>
             <div >
                Stock: <%= feed_entry.stock.stock_symbol %> 
            </div>

        </div>
    </div>
 </div>

<% end %>

</div>
	</div>
    </div>
   </div>
   </div>


</div>

<% end %>

