<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %>
</p> <% end %>
<%= form_tag do %> 
<fieldset>
<legend>Please Log In</legend>
<div>
<%= label_tag :user_name, 'Name:' %>
<%= text_field_tag :user_name, params[:user_name] %>
</div>
<div>
<%= label_tag :password, 'Password:' %>
<%= password_field_tag :password, params[:password] %>
</div>
<div>
<%= submit_tag "Login" %> </div>
</fieldset> 
<% end %>

<%= link_to 'Sign up', new_user_path %>

<h2>About Market Watch</h2>

<p> What's happening in the financial markets? Monitor your portfolio by getting real time alerts on quantitative data(price, percentage change, graphs etc) and qualitative data through twitter sentiment analysis. </p>




