<%= form_for(@portfolio) do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number_shares %><br>
    <%= f.number_field :number_shares %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= button_to 'Logout', logout_path, :method => :delete %>
<% end %>
