<p id="notice"><%= notice %></p>

<p>
  <strong>Number shares:</strong>
  <%= @portfolio.number_shares %>
</p>

<%= button_to 'Logout', logout_path, :method => :delete %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
