<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Your Portfolio</h2>
<table>
<thead>
    <tr>
      <th>Stock name</th>
      <th>Stock symbol</th>
      <th>Last Trade Price</th>
      <th>Number Shares</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<tbody>
    <% @portfolio.line_items.each do |item| %>
      <tr>
        <td><%= item.stock.stock_name %></td>
        <td><%= item.stock.stock_symbol %></td>
        <td><%= item.stock.price %></td>   
        <td><%= item.number_shares %></td>    
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Investment', new_line_item_path %>








