

<h1> Notifications</h1>
<br>
<%= form_tag(notifications_path , method: "get", class: "form") do %>
 <%= text_field_tag(:search, params[:search]) %> 
 <%= submit_tag("Search", :name => nil, class: "btn btn-default") %> 
<% end %>


          


<%if @notifications.nil? || @notifications.length == 0%>

  <p>No Matches Found</p>

<% else %>


<div class="example" data-text="News">
	<div class="grid">
	<div class="row cells2">
	<div class="cell">
	<div class="listview-outlook" data-role="listview">
<% @notifications.each do |notification| %>
    <div class="list" href="#">
	<div class="list-content">
        <div> <b>Alert!</b> </div>
        <img src = "<%= get_image_by_symbol(notification[:stock_symbol]) %>" width = 50 height= 50>
        <div> <%= notification[:stock_symbol] + notification[:message] + notification[:target] + "!" %>   </div>
        
        </div>
   </div>
    
<% end %>
</div>
	</div>
    </div>
   </div>
   </div>





 <% end %> 



