<%- model_class = Stock -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><% model_class.human_attribute_name(:id) %></th>
      <th><%= sortable "stock_name" %></th>
      <th><%= sortable "stock_symbol" %></th>
      <th><%= model_class.human_attribute_name(:stock_price) %></th>
      <th> Today's Change </th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><% link_to stock.id, stock_path(stock) %></td>
        <td><%= stock.stock_name %></td>
        <td><%= stock.stock_symbol %></td>
	<td><%= stock.last_trade_price.round(2) %></td>
	<td><%= "#{((1-(stock.price / stock.open_price))*100).round(2)}%" %></td
        <td><%= stock.created_at %></td>
        <td><%= button_to 'Add to Portfolio', line_items_path(stock_id: stock) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stock_path(stock), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      stock_path(stock),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stock_path,
            :class => 'btn btn-primary' %>


            
