<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
        prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<legend>Enter User Details</legend>
  <div>
    <%= f.label :user_name %>:
    <%= f.text_field :user_name, size:40 %>
  </div>
  <div>
    <%= f.label :password, 'Password' %>:
    <%= f.password_field :password, size:40 %>
  </div>
     <div><%= label :admin, "User" %>
      <%= f.radio_button :admin, false , :checked => true , :value => false %>
    </div>
  <div><%= label :admin, "Admin"%>
       <%= f.radio_button :admin,  true, :value => true%></div>
  </div>

  <div>
    <%= f.label :email, 'Email' %>:
    <%= f.text_field :email, size:40 %>
  </div>
  <div>
    <%= f.submit %>
  </div>
 
</fieldset>
<% end %>
