<p id="notice"><%= notice %></p>

<p>
  <strong> name:</strong>
  <%= @stroc. name %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @stroc.symbol %>
</p>

<%= link_to 'Edit', edit_stroc_path(@stroc) %> |
<%= link_to 'Back', strocs_path %>
