<div class="container">

<h1>Listing Rules</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Target Price/Sentiment</th>
      <th>Stock Name</th>
      <th>Stock Symbol</th>
      <th>Rule Type</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.target_price %></td>
        <td><%= rule.stock.stock_name %></td>
        <td><%= rule.stock.stock_symbol %></td>
        <td><%= rule.type %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Target Price Rule', new_user_rule_path(current_user) %> </br>
<%= link_to 'Sentiment score Rule', new_sentiment_rules_path(current_user)%>

</div>