<br>
<div class="container">

<div class="col-xs-6">
  <h2 class="sub-header">Sentiment Rules</h2>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Stock Name</th>
          <th>Stock Symbol</th>
          <th>Target Sentiment</th>
          <th>Rule Type</th>
       </tr>
    </thead>

    <tbody>
      <% @sentiment_rules.each do |rule| %>
        <tr>
          <td><%= rule.stock.stock_name %></td>
          <td><%= rule.stock.stock_symbol %></td>
          <td><%= rule.target_price %></td>
          <td><%= rule.type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'Add Sentiment Score Rule', new_sentiment_rules_path(current_user)%>
</div>


<div class="col-xs-6">
  <h2 class="sub-header">Last Trade Price Rules</h2>
  <div class="table-responsive">
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Stock Name</th>
          <th>Stock Symbol</th>
          <th>Target Last Trade Price</th>
          <th>Rule Type</th>
       </tr>
    </thead>

    <tbody>
      <% @last_price_rules.each do |rule| %>
        <tr>
          <td><%= rule.stock.stock_name %></td>
          <td><%= rule.stock.stock_symbol %></td>
          <td><%= rule.target_price %></td>
          <td><%= rule.type %></td>
        </tr>
      <% end %>
      <tr> </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Add Target Price Rule', new_user_rule_path(current_user) %> </br>

</div>


</div>