<p id="notice"><%= notice %></p>

<p>
  <strong>Target price:</strong>
  <%= @rule.target_price %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @rule.portfolio_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @rule.stock.stock_symbol %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
