<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable(<%= raw Chart.create_pie_chart_json(@portfolio.id) %>);

        var options = {
            title: 'Stock Proportions'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>

<%- model_class = Portfolio -%>
<div class="page-header"> 
  <% user = current_user %> 
  <h3> Welcome <%= user.user_name %> </h3> 
  <div id="graphPosition"> <p id="piechart" style="width: 400px; height: 350px;"></p> </div>
  <h4><b>Portfolio Value: </b><%= @current_value.round(2) %></h4>
</div>
<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th> Name<%= link_to "▲", :sort => "sort_by_stock_name_asc" %> <%= link_to "▼", :sort => "sort_by_stock_name_desc" %> </th> 
      <th> Ticker <%= link_to "▲", :sort => "sort_by_stock_symbol_asc" %> <%= link_to "▼", :sort => "sort_by_stock_symbol_desc" %></th> 
      <th> Price <%= link_to "▲", :sort => "sort_by_last_trade_price_asc" %><%= link_to "▼", :sort => "sort_by_last_trade_price_desc" %></th> 
      <th> Amount <%= link_to "▲", :sort => "number_shares_asc" %><%= link_to "▼", :sort => "number_shares_desc" %></th> 
      <th> Sentiment <%= link_to "▲", :sort => "sentiment_score_asc" %><%= link_to "▼", :sort => "sentiment_score_desc" %></th> 
      <th>Graph</th> 
      <th colspan="3"></th> 
    </tr> 
  </thead> 
  
  
 
<tbody> 
    <% @line_items.each do |item| %> 
      <tr> 
        <td><%= item.stock.stock_name %></td> 
        <td><%= item.stock.stock_symbol %></td> 
        <td><%= item.stock.price %></td>    
        <td><%= item.number_shares %></td> 
        <td><%= item.stock.sentiment_score %></td> 
        <td> <%= render partial: 'smallchart' , locals: {stock_symbol: item.stock.stock_symbol} %> <%= link_to 'Show', item %> </td>
    <td>    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), 
                      line_item_path(item), 
                      :method => :delete, 
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
                      :class => 'btn btn-xs btn-danger' %> </td> 
      </tr> 
    <% end %> 
  </tbody> 
</table>




<%= form_tag(line_items_path, method: "create") do %>  
  <%= label_tag(:stock, "Stock Symbol:") %> 
  <%= text_field_tag(:stock_symbol) %> 
  <%= label_tag(:number_shares, "Amount:") %> 
  <%= text_field_tag(:number_shares) %> 
  <%= submit_tag("Add Investment") %> 
<% end %> 

 
