<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @line_item.stock_id %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @line_item.portfolio_id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
