<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
 <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
  <script src="/javascripts/jquery.titlealert.js"></script>
<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render "notifications/notify" %>


  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body  class="metro">
<div class="container">
<nav class="navigation-bar dark">
<nav class="navigation-bar-content">

<a class="element" href=>   <i class="fa fa-home fa-lg"></i> Market-Watch</a>

<span class="element-divider"></span>
 <%= link_to  stocks_path,  class: "element" do %> 
   <i class="fa fa-money"> Stocks </i>
 <% end %>

<span class="element-divider"> </span>
<%  if current_portfolio != nil  then %>
 <%= link_to  portfolio_path(current_portfolio), class: "element" do %>
   <i class="fa fa-folder"> My Portfolio </i>
 <% end %>
<span class="element-divider"></span>
<% end %>

 <%= link_to  rules_path , class: "element" do  %> 
     <i class="fa fa-legal"> Rules </i>
 <% end %>
<span class="element-divider"></span>
<% if current_user != nil %>
 <%= button_to  logout_path, :method => :delete, class: "element" do %>
      <i class="fa fa-lock"> Logout </i>
 <% end %>
<span class="element-divider"></span>
<% end %>
</nav>
</nav>
</div>

  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
      </div>
    </div>
  </div>


</body>
</html>
