<!DOCTYPE html>
<html>
<head>

  <% if content_for? :for_head %>
      <%= yield :for_head %>
  <% end %>

  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
